@font-face {
    font-family: "Jost-light";
    src: url(portfolio-doc/Jost/static/Jost-Light.ttf);
}

:root {
    --bordeaux: rgb(163, 21, 47);
    --gris: grey;
    --wheat: rgb(225, 209, 179);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /* border: 2px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: Arial, sans-serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: "Jost-light", 'trebuchet MS';
    background: url(/portfolio-doc/black-desk.jpg) center/cover fixed;

    /* color: rgb(218, 217, 217); */
    color: rgb(225, 209, 179);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow-X: hidden;
}

hr {
    height: 2px;
    width: 100%;
    border-color: var(--bordeaux);
}

h1 {
    position: relative;
    display: inline-block;
    margin: 1em 0 1em 0;
    height: 20%;
    font-size: 2.4em;
    /* font-size: 250px; */
}

@keyframes h1AfterAnimation {
    0% {
        width: 2%;
    }

    100% {
        width: 100%;
    }
}

.title-container {
    position: relative;
    width: 100%;
}

.after {
    position: absolute;
    bottom: 20%;
    left: 0;
    content: "";
    height: 3px;
    width: 1%;
    background: var(--bordeaux);
    /* animation: h1AfterAnimation 2s ease-out 0.3s forwards; */
}

a {
    text-decoration: none;
    color: var(--wheat);
    transition: 0.1s;
}

a:visited {
    text-decoration: none;
    color: var(--wheat);
    transition: 0.1s;
}

header {
    position: fixed;
    width: 100%;
    color: #fff;
    height: 4em;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 9;

    background: "none";
    top: 0;
}

.scroll-zero {
    background: none;
    top: 0;
}

.scrolled-up {
    top: 0;
}

header.scrolled-up {
    background: linear-gradient(rgb(135, 9, 32), rgba(135, 9, 32, 0.537));
}

.scrolled-down {
    top: -100%;
    background: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#flags-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;
}

#flags-container div {
    margin-right: 1em;
}

.flag-container.actual-language {
    position: relative;
    padding: 0;
    margin: 0;
}

div.actual-language::after {
    position: absolute;
    content: "";
    background: linear-gradient(90deg, red, rgb(244, 133, 133));
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

.flag-container img {
    width: 50px;
    height: 50px;
    transition: 0.1s;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flag-container img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    list-style-type: none;
    padding: 2px;
    margin: 2px;
    margin-right: 1em;
    transition: 0.1s;

    font-size: 1.4em;
}

nav li a:hover {
    color: var(--bordeaux);
    /* font-size: 1.1em; */
    font-weight: bold;
    text-shadow: 0 0 5px rgba(5, 5, 5, 0.53);
}

nav li a.scrolled-up {
    color: var(--wheat);
}

nav li a.scrolled-up:hover {
    color: black;
    text-shadow: 0 0 5px rgba(214, 210, 210, 0.413);
    font-weight: bold;
}

/* =========WELCOME=========== */

section {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.container {
    width: 100%;
}

#welcome-section {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: relative;
}

#welcome-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.4em;
    text-align: center;
    transition: 0.1s;
    height: auto;
    margin: 0;
    padding: 0;

}

#welcome-section p {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(167, 10, 39);
    text-shadow: 0 0 5px rgba(5, 5, 5, 0.688);
    transition: 0.1s;
    min-height: 1.6em;
    margin-bottom: 2em;
}

@keyframes horizontalBarSpanAnim {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

#dev-web-p::after {
    color: var(--wheat);
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    background: var(--bordeaux);
    border-radius: 4px;

    bottom: 0%;
    right: -4px;
    animation: horizontalBarSpanAnim 0.5s ease-in-out infinite;
}

.contact-a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px solid green; */
    height: 3em;
    width: 8em;

}

.contact-span {

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    font-size: 1em;
    background: linear-gradient(135deg, rgba(160, 10, 37, 0.695), rgba(160, 10, 37, 0.364));
    border: 1px solid rgba(163, 21, 47, 0.422);
    /* height: 2.6em;
    width: 7em; */
    transition: 0.3s;
}

.contact-span:hover {

    border: 1px solid rgb(163, 21, 47);
    background: none;
}

.contact-span:active {
    transform: scale(0.9);
}

#welcome-section span {
    height: 2.6em;
    width: 7em;
}

/* ===========PROJECTS============== */


.card {
    background: rgba(0, 0, 0, 0.754)
        /* backdrop-filter: blur(1px); */

}

#project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#project-container figure {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 12px 12px;

    width: 300px;
    height: 380px;

    translate: 1000px;
    opacity: 0;

    cursor: pointer;
}

#project-container figcaption {
    padding: 2px;
    font-size: 1.4em;
}

#project-container figure img {
    border-radius: 12px;
    width: 280px;
    height: 300px;
}

#project-container figure.scrolledTransition {
    opacity: 1;
    translate: 0;
}

/* ===========TECHNOS============= */
#technos-title-container {
    margin-bottom: 2em;
}

/* @keyframes shiningAnimLeftToRight {
    0% {
        background: linear-gradient(45deg, red 0%, black 20%);
    }

    10% {
        background: linear-gradient(45deg, black 10%, red 20%, black 30%);
    }

    20% {
        background: linear-gradient(45deg, black 20%, red 30%, black 40%);
    }

    30% {
        background: linear-gradient(45deg, black 30%, red 40%, black 50%);
    }

    40% {
        background: linear-gradient(45deg, black 40%, red 50%, black 60%);
    }

    50% {
        background: linear-gradient(45deg, black 50%, red 60%, black 70%);
    }

    60% {
        background: linear-gradient(45deg, black 60%, red 70%, black 80%);
    }

    70% {
        background: linear-gradient(45deg, black 70%, red 80%, black 90%);
    }

    80% {
        background: linear-gradient(45deg, black 80%, red 90%, black 100%);
    }

    90% {
        background: linear-gradient(45deg, black 90%, red 100%);
    }

    100% {
        background: linear-gradient(45deg, black 100%);
    }

}

@keyframes shiningAnimRightToLeft {
    0% {
        background: linear-gradient(90deg, black 90%, red 100%);
    }

    10% {
        background: linear-gradient(90deg, black 80%, red 90%, black 100%);
    }

    20% {
        background: linear-gradient(90deg, black 70%, red 80%, black 90%);
    }

    30% {
        background: linear-gradient(90deg, black 60%, red 70%, black 80%);
    }

    40% {
        background: linear-gradient(90deg, black 50%, red 60%, black 70%);
    }

    50% {
        background: linear-gradient(90deg, black 40%, red 50%, black 60%);
    }

    60% {
        background: linear-gradient(90deg, black 30%, red 40%, black 50%);
    }

    70% {
        background: linear-gradient(45deg, black 20%, red 30%, black 40%);
    }

    80% {
        background: linear-gradient(45deg, black 10%, red 20%, black 30%);
    }

    90% {
        background: linear-gradient(45deg, red 0%, black 20%);

    }

    100% {
        background: linear-gradient(45deg, black 100%);
    }

} */

@keyframes shiningAnim {
    0% {
        background: linear-gradient(45deg, red 0%, black 20%);
    }

    4% {
        background: linear-gradient(45deg, black 10%, red 20%, black 30%);
    }

    8% {
        background: linear-gradient(45deg, black 20%, red 30%, black 40%);
    }

    12% {
        background: linear-gradient(45deg, black 30%, red 40%, black 50%);
    }

    16% {
        background: linear-gradient(45deg, black 40%, red 50%, black 60%);
    }

    20% {
        background: linear-gradient(45deg, black 50%, red 60%, black 70%);
    }

    24% {
        background: linear-gradient(45deg, black 60%, red 70%, black 80%);
    }

    28% {
        background: linear-gradient(45deg, black 70%, red 80%, black 90%);
    }

    32% {
        background: linear-gradient(45deg, black 80%, red 90%, black 100%);
    }

    36% {
        background: linear-gradient(45deg, black 90%, red 100%);
    }

    42% {
        background: black
    }

    56% {
        background: black
    }

    60% {
        background: linear-gradient(90deg, black 90%, red 100%);
    }

    64% {
        background: linear-gradient(90deg, black 80%, red 90%, black 100%);
    }

    68% {
        background: linear-gradient(90deg, black 70%, red 80%, black 90%);
    }

    72% {
        background: linear-gradient(90deg, black 60%, red 70%, black 80%);
    }

    76% {
        background: linear-gradient(90deg, black 50%, red 60%, black 70%);
    }

    80% {
        background: linear-gradient(90deg, black 40%, red 50%, black 60%);
    }

    84% {
        background: linear-gradient(90deg, black 30%, red 40%, black 50%);
    }

    88% {
        background: linear-gradient(90deg, black 20%, red 30%, black 40%);
    }

    92% {
        background: linear-gradient(90deg, black 10%, red 20%, black 30%);
    }

    96% {
        background: linear-gradient(90deg, red 0%, black 20%);
    }

    100% {
        background: black;
    }

}

/* @keyframes animTechnosInfos {
    from {
        font-size: 0;
        color: black;
        background: none;
    }

    to {
        font-size: 1.4em;
        color: white;
        background: rgba(0, 0, 0, 0.574);
    }
} */


#span-infos-technos {
    font-size: 1.4em;
    display: block;
    background: rgba(0, 0, 0, 0.533);
    position: absolute;
    top: -1em;
    left: 0%;
    border-radius: 15px;
    /* animation: animTechnosInfos 1.5s linear forwards; */
    /* animation: shiningAnim 1s ease-in-out 1s forwards; */
}

#technos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.shiningAnim {
    animation: shiningAnim 0.8s ease-in-out forwards;
}

.technos-and-p-container {
    position: relative;
    width: 9em;
    height: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    cursor: grab;

    transition: 0.3s;
}

.techno-container {
    width: 9em;
    height: 9em;
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

@keyframes animRandomTechno {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}

.techno-container.scrolledTransition {
    animation: animRandomTechno 1.6s ease-in-out 0.3s forwards;
}

.technos-and-p-container p {
    transition: 0.3s;
    /* text-align: justify; */
    display: none;
}

.technos-and-p-container:active {
    justify-content: start;
    width: 20em;
    height: 22em;
    animation: animTechnosContainer 0.001s linear forwards;
}

.technos-and-p-container:active p {
    z-index: 2;
    display: block;
    background: rgba(0, 0, 0, 0.481);
}


.transform-scale {
    transform: scale(0.1);
}

/* .technos-and-p-container:hover::before {
    width: 20em;
    height: 20em;
} */


/* ==============PROFIL================= */
#about-me_section {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#about-me_section div,
p {
    margin-bottom: 1em;
}

#about-me_section img {
    width: 260px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 2px 2px 16px 3px #6261614a;
}

#about-me_section p {
    font-size: 1.4em;
}

#about-me_section a {
    margin-top: 1em;
}

#CV-container {
    margin-top: 4em;
}

#CV-span {
    height: 3em;
    width: 8em;
}


/* ============CONTACT============== */

#contact-section {
    min-height: 16em;
}


#mail-span,
#mail-a {
    width: 16em;
    height: 3em;

}

/* ==========FOOTER============= */

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 40px;
    height: 40px;
    margin: 0.5em 1em;
}

/* footer a:hover {
    transform: scale(1.2);
} */


/* ============media-querries================== */

@media (max-width:700px) {

    header {
        height: 9em;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    nav ul,
    nav>div {
        margin: 1em;
    }

    #technos-container {
        margin-top: 2em;
    }

    #span-infos-technos {
        top: -2em;
        font-size: 1em;
    }
}

@media (max-width:530px) {

    nav li {
        font-size: 1.2em;
    }

    header.scroll-zero {
        background: linear-gradient(rgb(135, 9, 32), rgba(135, 9, 32, 0.537));
        ;
        top: 0;
    }

    header.scrolled-up {
        background: linear-gradient(rgb(135, 9, 32), rgba(135, 9, 32, 0.537));
        ;
        top: 0;
    }

    header.scrolled-down {
        background: linear-gradient(rgb(135, 9, 32), rgba(135, 9, 32, 0.537));
        ;
        top: 0;
    }

    section {
        min-height: 0;
    }

    img {
        transform: scale(0.8);
    }

    #project-container div {
        margin: 0;
        padding: 0;
    }

    .project-img {
        width: 160px;
        height: 200px;
    }

    #about-me_section img {
        height: 300px;
        width: 250px;
    }
}