@charset "UTF-8";
@font-face {
  font-family: "Jost-light";
  src: url(assets/Jost/static/Jost-Light.ttf);
}
:root {
  --bordeaux: #a3152f;
  --gris: grey;
  --wheat: #f2efe8;
  /* --wheat: #e1d1b3; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* border: 2px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost-light", "trebuchet MS";
  background: url(/assets/black-desk.jpg) center/cover fixed;
  color: #eae2d3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-X: hidden;
}

/* =============================== */
/* fully nested header */
/* =============================== */
header {
  position: fixed;
  width: 100%;
  color: #fff;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  z-index: 9;
  background: "none";
  top: 0;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .flags-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 1rem;
}
header nav .flags-container .flag-container {
  margin-right: 1rem;
}
header nav .flags-container .flag-container img {
  width: 50px;
  height: 50px;
  transition: 0.1s;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .flags-container .flag-container img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav ul li {
  list-style-type: none;
  padding: 2px;
  margin: 2px;
  margin-right: 1rem;
  transition: 0.1s;
  font-size: 1.4rem;
}
header nav ul li a:hover {
  color: var(--bordeaux);
  /* font-size: 1.1rem; */
  font-weight: bold;
  text-shadow: 0 0 5px rgba(5, 5, 5, 0.53);
}
header nav ul li a.scrolled-up {
  color: var(--wheat);
}
header nav ul li a.scrolled-up:hover {
  color: black;
  text-shadow: 0 0 5px rgba(214, 210, 210, 0.413);
  font-weight: bold;
}

/* Not nested because it will be usefull for other purposes */
a {
  text-decoration: none;
  color: var(--wheat);
  transition: 0.1s;
}

a:visited {
  text-decoration: none;
  color: var(--wheat);
  transition: 0.1s;
}

/* <-- Injected by JS  */
header.scrolled-up {
  background: linear-gradient(rgb(135, 9, 32), rgba(135, 9, 32, 0.537));
}

.actual-language {
  position: relative;
  padding: 0;
  margin: 0;
}

.actual-language::after {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, red, rgb(244, 133, 133));
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

.scroll-zero {
  background: none;
  top: 0;
}

.scrolled-up {
  top: 0;
}

.scrolled-down {
  top: -100%;
  background: none;
}

/*  Injected by JS --> */
/* =============================== */
/*WELCOME */
/* =============================== */
section {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

h1 {
  position: relative;
  display: inline-block;
  margin: 1em 0 1em 0;
  font-size: 2.8rem;
}

@keyframes h1AfterAnimation {
  0% {
    width: 2%;
  }
  100% {
    width: 100%;
  }
}
.after {
  position: absolute;
  bottom: 20%;
  left: 0;
  content: "";
  height: 3px;
  width: 1%;
  background: var(--bordeaux);
}

.contact-a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 4px solid green; */
  height: 3rem;
  width: 8rem;
}

.contact-span {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  background: linear-gradient(135deg, rgba(160, 10, 37, 0.695), rgba(160, 10, 37, 0.364));
  border: 1px solid rgba(163, 21, 47, 0.422);
  transition: 0.3s;
}

.contact-span:hover {
  border: 1px solid rgb(163, 21, 47);
  background: none;
}

.contact-span:active {
  transform: scale(0.9);
}

#welcome-section {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  position: relative;
}
#welcome-section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  text-align: center;
  transition: 0.1s;
  height: auto;
  margin: 0;
  padding: 0;
}
#welcome-section p {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(167, 10, 39);
  text-shadow: 0 0 5px rgba(5, 5, 5, 0.688);
  transition: 0.1s;
  min-height: 1.6rem;
  margin-bottom: 2rem;
}

/* <-- JS */
@keyframes horizontalBarSpanAnim {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
#dev-web-p::after {
  color: var(--wheat);
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background: var(--bordeaux);
  border-radius: 4px;
  bottom: 0%;
  right: -4px;
  animation: horizontalBarSpanAnim 0.5s ease-in-out infinite;
}

/* JS --> */
/* =============================== */
/*  PROJECTS */
/* =============================== */
.card {
  background: rgba(0, 0, 0, 0.754);
}

.title-container {
  position: relative;
  width: 100%;
}

.container {
  width: 100%;
}

#projects-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Fully nested part of card */
.project-figure-and-p-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}
.project-figure-and-p-container figure {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 12px 12px;
  width: 300px;
  height: 380px;
  translate: 1000px;
  opacity: 0;
  cursor: pointer;
}
.project-figure-and-p-container figure figcaption {
  margin: 12px;
  padding: 2px;
  font-weight: bold;
  font-size: 1.4rem;
}
.project-figure-and-p-container figure img {
  border-radius: 12px;
  width: 280px;
  height: 300px;
}
.project-figure-and-p-container figure.scrolledTransition {
  opacity: 1;
  translate: 0;
}
.project-figure-and-p-container .project-p-container {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  width: 40%;
}
.project-figure-and-p-container .project-p-container p {
  margin: 12px;
  font-weight: bold;
  display: none;
}

.project-figure-and-p-container.project-clicked {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.626);
  backdrop-filter: blur(12px);
  padding: 24px;
}
.project-figure-and-p-container.project-clicked figure figcaption {
  display: none;
}
.project-figure-and-p-container.project-clicked .project-p-container p {
  display: flex;
}

.project-figure-and-p-container.project-clicked::after {
  content: "✖";
  transform: rotateX(180deg);
  font-size: 2rem;
  position: absolute;
  background: rgba(0, 0, 0, 0.788);
  border-radius: 10px;
  top: 0%;
  left: 0%;
  padding: 8px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-figure-and-p-container.other-projects {
  display: none;
  pointer-events: none;
}

#bubble-popper-link:hover {
  text-decoration: underline;
}

/* =============================== */
/*  TECHNOS */
/* =============================== */
#technos-title-container {
  margin-bottom: 2rem;
}

#span-infos-technos {
  font-size: 1rem;
}

@keyframes shiningAnim {
  0% {
    background: linear-gradient(45deg, red 0%, rgba(0, 0, 0, 0.348) 20%);
  }
  4% {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.348) 10%, red 20%, rgba(0, 0, 0, 0.348) 30%);
  }
  8% {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.348) 20%, red 30%, rgba(0, 0, 0, 0.348) 40%);
  }
  12% {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.348) 30%, red 40%, rgba(0, 0, 0, 0.348) 50%);
  }
  16% {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.348) 40%, red 50%, rgba(0, 0, 0, 0.348) 60%);
  }
  20% {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.348) 50%, red 60%, rgba(0, 0, 0, 0.348) 70%);
  }
  24% {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.348) 60%, red 70%, rgba(0, 0, 0, 0.348) 80%);
  }
  28% {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.348) 70%, red 80%, rgba(0, 0, 0, 0.348) 90%);
  }
  32% {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.348) 80%, red 90%, rgba(0, 0, 0, 0.348) 100%);
  }
  36% {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.348) 90%, red 100%);
  }
  40% {
    background: rgba(0, 0, 0, 0.348);
  }
  56% {
    background: rgba(0, 0, 0, 0.348);
  }
  60% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.348) 90%, red 100%);
  }
  64% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.348) 80%, red 90%, rgba(0, 0, 0, 0.348) 100%);
  }
  68% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.348) 70%, red 80%, rgba(0, 0, 0, 0.348) 90%);
  }
  72% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.348) 60%, red 70%, rgba(0, 0, 0, 0.348) 80%);
  }
  76% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.348) 50%, red 60%, rgba(0, 0, 0, 0.348) 70%);
  }
  80% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.348) 40%, red 50%, rgba(0, 0, 0, 0.348) 60%);
  }
  84% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.348) 30%, red 40%, rgba(0, 0, 0, 0.348) 50%);
  }
  88% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.348) 20%, red 30%, rgba(0, 0, 0, 0.348) 40%);
  }
  92% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.348) 10%, red 20%, rgba(0, 0, 0, 0.348) 30%);
  }
  96% {
    background: linear-gradient(90deg, red 0%, rgba(0, 0, 0, 0.348) 20%);
  }
  100% {
    background: rgba(0, 0, 0, 0.348);
  }
}
#technos-container {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
#technos-container span {
  font-size: 1.4rem;
  display: block;
  background: rgba(0, 0, 0, 0.348);
  position: absolute;
  top: -44px;
  left: 0%;
  border-radius: 15px;
}
#technos-container span.shiningAnim {
  animation: shiningAnim 0.6s ease-in-out forwards;
}

.techno-and-p-container {
  width: 9rem;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  cursor: pointer;
}
.techno-and-p-container .techno-container {
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.techno-and-p-container .scrolledTransition {
  animation: animRandomTechno 1.6s ease-in-out 0.3s forwards;
}

.outer-layer,
.middle-layer,
.inner-layer {
  border-radius: 50%;
}

.middle-layer {
  border: 2px solid rgba(255, 255, 255, 0);
}

.outer-layer:hover {
  box-shadow: 0px 0px 6px rgba(228, 196, 201, 0.7882352941);
}

.middle-layer:hover {
  height: 100%;
  width: 100%;
  border: 2px solid rgba(163, 21, 47, 0.7882352941);
}

.inner-layer:hover {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 2px rgba(228, 196, 201, 0.7882352941);
}

/* -------------------- */
/* Modal */
/* -------------------- */
.modal {
  text-align: left;
  top: 25%;
  left: 12.5%;
  width: 75%;
  padding: 24px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: 1px solid var(--bordeaux);
  background: rgba(0, 0, 0, 0.626);
  color: white;
  backdrop-filter: blur(12px);
  /* scrollbar-width: thin;
  scrollbar-color: #ffff #36635b; */
}

.modal-close {
  font-size: 1.725rem;
  max-width: 100%;
  margin-bottom: 24px;
  color: var(--bordeaux);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4784313725);
  cursor: pointer;
}

/* =============================== */
/* PROFIL */
/* =============================== */
#about-me_section {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#about-me_section div.container img {
  width: 260px;
  height: 310px;
  border-radius: 10px;
  box-shadow: 2px 2px 16px 3px rgba(98, 97, 97, 0.2901960784);
}
#about-me_section div.container #bio-container {
  margin-top: 1rem;
}
#about-me_section div.container p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
#about-me_section div.container div.links-container {
  margin-top: 4rem;
}
#about-me_section div.container div.links-container span {
  height: 3rem;
  width: 8rem;
}

/* =============================== */
/* CONTACT */
/* =============================== */
#contact-section {
  min-height: 16rem;
}
#contact-section div.links-container span,
#contact-section div.links-container a {
  width: 16rem;
  height: 3rem;
}

/* =============================== */
/* FOOTER */
/* =============================== */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  width: 40px;
  height: 40px;
  margin: 0.5em 1rem;
}

/* =============================== */
/* media-querries */
/* =============================== */
@media (max-width: 900px) {
  .modal {
    top: 25%;
    left: 2%;
    width: 100%;
    font-size: 1rem;
  }
}
@media (max-width: 700px) {
  header {
    height: 120px;
    padding-top: 40px;
  }
  header nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  header nav div.flags-container {
    margin-right: 20px;
  }
  header nav ul {
    margin: 1em 20px 1em 1rem;
    font-size: 0.9rem;
  }
  #technos-container {
    margin-top: 2rem;
  }
  .project-figure-and-p-container.project-clicked {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 0;
  }
  .project-figure-and-p-container.project-clicked .project-p-container {
    width: 100%;
  }
  .project-figure-and-p-container.project-clicked .project-p-container p {
    display: flex;
  }
}
@media (max-width: 550px) {
  header {
    height: auto;
    padding-top: 24px;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  header nav ul li {
    margin-top: 12px;
    background-color: rgba(0, 0, 0, 0.7490196078);
    border-radius: 6px;
    border: 1px solid var(--bordeaux);
  }
  .scrolled-up {
    top: -800px;
  }
  section {
    min-height: 0;
  }
  #welcome-section {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 200px;
  }
  #welcome-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    text-align: center;
    transition: 0.1s;
    height: auto;
    margin: 0;
    padding: 0;
  }
  #welcome-section p {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(167, 10, 39);
    text-shadow: 0 0 5px rgba(5, 5, 5, 0.688);
    transition: 0.1s;
    min-height: 1.6rem;
    margin-bottom: 2rem;
  }
  #project-container div {
    margin: 0;
    padding: 0;
  }
  figure.project-clicked img {
    width: 160px;
    height: 200px;
  }
}
@media (max-width: 415px) {
  .li-anchor {
    margin-right: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
